
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo:#386738;
    --preto:#000000;
    --vermelho:#FF0000;
    --roxo:#3A375E;
    --verde-limao:#6FFF57;
    --cor-cbc-n-sel:rgba(82, 162, 81, 0.5);
    --cor-cbc-sel:#52A151;
} 

body{
    background-color: var(--cor-de-fundo);
    color:var(--vermelho);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}